/* Header */
.header{
    padding:8px;
    border-radius:0 0 10% 10%;
    background-image:linear-gradient(to right, rgb(50, 50, 50), rgb(75, 75, 75));
    border-bottom:1px solid rgb(30, 29, 29);
    box-shadow:0px -15px 50px rgb(53, 53, 53);
}
.header-navbar{
    width:100%;
}
.header-navbar--list{
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
}
.items{
    padding:0 4px;
}
.nav-item{
    color:rgb(237, 237, 237);
}