$bg-primary-color: #202020;
$bg-secundary-color: antiquewhite;
$bg-decoration-color: #20c997;
$text-primary-color: antiquewhite;
$text-secundary-color: #101010;
$text-decoration-color: #20c997;
$container-width: 1170px;

